section#time.tab-pane.fade
  .tab-pane-left
    .content
      .title 開課時間
      form.form-horizontal
        .form-group
          label.control-label.col-sm-3 上課日期
          .col-sm-3
            input.form-control(readonly value="2016/10/10")
        .form-group
          label.control-label.col-sm-3 單堂課程長度
          .col-sm-2
            input.form-control(readonly value="60")
          label.control-label 分鐘
        .form-group
          label.control-label.col-sm-3 課程堂數
          .col-sm-2
            input.form-control(readonly value="3")
          label.control-label 堂
        .form-group
          label.control-label.col-sm-3 課程總長度
          .col-sm-2
            input.form-control(readonly value="180")
          label.control-label 分鐘
        .form-group
          label.control-label.col-sm-3 最低開課人數
          .col-sm-2
            input.form-control(readonly value="10")
          label.control-label 人
        .form-group
          label.control-label.col-sm-3 人數上限
          .col-sm-2
            input.form-control(readonly value="35")
          label.control-label 人
        .form-group
          label.control-label.col-sm-3 上課場地
          .col-sm-9
            input.form-control(readonly value="A場地 | 台北市內湖區新湖一路85號4樓")
        .form-group
          label.control-label.col-sm-3 備註
          .col-sm-9
            textarea.form-control(disabled rows="5") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur veritatis sequi enim atque a, sunt porro, voluptates molestiae quas fuga quam tempora autem, minus aspernatur placeat! Tempora asperiores modi illum, nemo consequatur, perferendis ad natus ipsam repellat quibusdam numquam nesciunt.
  .tab-pane-right
    a(href="#")
      img(src="//www.fillmurray.com/160/160")
    .teacher-info
      .name
        a(href="#") Todd Liu
      .jobtitle Backend Engineer
      ul.social-media
        li
          a(href="#")
            i.fa.fa-facebook
        li
          a(href="#")
            i.fa.fa-twitter
        li
          a(href="#")
            i.fa.fa-google-plus
        li
          a(href="#")
            i.fa.fa-behance
      .introduction
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nihil eum eos quo, blanditiis maxime recusandae! Id, velit quod, amet est molestias et fugiat deleniti, repellat possimus repellendus atque soluta ut recusandae sit eum placeat. Placeat at nostrum, maxime reiciendis recusandae minima non, veniam eveniet eos rerum repellat. Alias, tenetur