section#profile
  .section-block.form-block
    .info
      img.avatar-workshop(src="//www.fillmurray.com/150/150")
      .information
        .name Todd Liu
        .jobtitle Backend Engineer
        ul.social-media
          li
            a(href="#")
              i.fa.fa-facebook
          li
            a(href="#")
              i.fa.fa-twitter
          li
            a(href="#")
              i.fa.fa-google-plus
          li
            a(href="#")
              i.fa.fa-behance
          li
            a(href="#")
              i.fa.fa-youtube
          li
            a(href="#")
              i.fa.fa-home
        .teach-course
          a.teacherlink
            開過6堂課
          |  / 
          a.courselink
            上過3堂課
    .introduction Lorem ipsum dolor sit amet, quam ultricies donec adipiscing. Massa sodales tortor elementum arcu mauris molestie, tempor sed, ornare imperdiet egestas vehicula mauris eros quis, nisl mauris, donec consectetuer quam. Aliquam suspendisse. Feugiat ac augue id placerat pellentesque senectus. Sed et sed interdum faucibus lacus, ut a vitae nec ipsum nunc.
    .private
      .private-title 非公開資料
      hr
      form.form-horizontal
        .form-group
          label.control-label.col-sm-2 Email
          .col-sm-9
            input.form-control(readonly value="toddliu@aydyn.com")
        .form-group
          label.control-label.col-sm-2 連絡電話
          .col-sm-9
            input.form-control(readonly value="0912-345-678")
        .form-group
          label.control-label.col-sm-2 個人帳戶
          .col-sm-9
            input.form-control(readonly value="700-1234567 1234567")