section#comments.tab-pane.fade
  .tab-pane-left
    .content
      .title 課程評價
      .message
        img(src="//www.fillmurray.com/85/85")
        .message-block
          .name Jake Gyllenhaal
          .star-rating
            input.rb-rating(readonly value="3")
          .time 3 days ago
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quo natus rem animi distinctio quae officia saepe dolorem labore et. Sequi ut perferendis, suscipit, animi ratione voluptate nobis aut sapiente totam dicta eveniet facere magnam voluptatem, sed, omnis porro. Animi.
      .message
        img(src="//www.fillmurray.com/85/85")
        .message-block
          .name Jake Gyllenhaal
          .star-rating
            input.rb-rating(readonly value="1")
          .time 3 days ago
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, asperiores.
          
  .tab-pane-right
    form.form-horizontal
      .form-group
        label.control-label.col-sm-6 評價總數
        .col-sm-6
          input.form-control(value="2" readonly)
      .form-group
        label.control-label.col-sm-6 平均星等
        .col-sm-6
          input.form-control(value="2" readonly)