section#course
  //- .section-block.form-block
  .course-item
    a(href="application-detail-online.html")
      .thumbnail
        img.photo(src="http://lorempixel.com/305/180")
        .tag.tag-pass 待授課
        .caption
          h3 PHP+MySQL 動態網頁入門
          p
            em with
            | Todd Liu
          .cost
            .classmate
              i.fa.fa-users
              |10
            .money NT$  
              span 1200
  .course-item
    a(href="application-detail-online.html")
      .thumbnail
        img.photo(src="http://lorempixel.com/305/180")
        .tag.tag-pass 待授課
        .caption
          h3 PHP+MySQL 動態網頁入門
          p
            em with
            | Todd Liu
          .cost
            .classmate
              i.fa.fa-users
              |10
            .money NT$  
              span 1200
  .course-item
    a(href="application-detail-online.html")
      .thumbnail
        img.photo(src="http://lorempixel.com/305/180")
        .tag.tag-success 上課中
        .caption
          h3 PHP+MySQL 動態網頁入門
          p
            em with
            | Todd Liu
          .cost
            .classmate
              i.fa.fa-users
              |10
            .money NT$  
              span 1200
  .course-item
    a(href="application-detail-online.html")
      .thumbnail
        img.photo(src="http://lorempixel.com/305/180")
        .tag.tag-success 上課中
        .caption
          h3 PHP+MySQL 動態網頁入門
          p
            em with
            | Todd Liu
          .cost
            .classmate
              i.fa.fa-users
              |10
            .money NT$  
              span 1200
  .course-item
    a(href="application-detail-online.html")
      .thumbnail
        img.photo(src="http://lorempixel.com/305/180")
        .tag.tag-over 結業
        .caption
          h3 PHP+MySQL 動態網頁入門
          p
            em with
            | Todd Liu
          .cost
            .classmate
              i.fa.fa-users
              |10
            .money NT$  
              span 1200