section#money.tab-pane.fade
  .tab-pane-left
    .content
      .title 課程撥款
      table.table.table-hover
        thead
          tr
            th 撥款日期
            th 退課人數
            th 金額
            th 退課扣款
            th 累計金額
        tbody
          tr
            td 2016/10/10
            td 0
            td 600
            td 0
            td 600
          tr
            td 2016/10/10
            td 1
            td 600
            td 50
            td 1150
          tr
            td 2016/10/10
            td 1
            td 600
            td 50
            td 1700

  .tab-pane-right
    form.form-horizontal
      .form-group
        label.control-label.col-sm-6 課程定價
        .col-sm-6
          input.form-control(value="1800" readonly)
      .form-group
        label.control-label.col-sm-6 學生人數
        .col-sm-6
          input.form-control(value="50" readonly)
      .form-group
        label.control-label.col-sm-6 贈課人數
        .col-sm-6
          input.form-control(value="2" readonly)
      .form-group
        label.control-label.col-sm-6 退課人數
        .col-sm-6
          input.form-control(value="1" readonly)
      .form-group
        label.control-label.col-sm-6 場地費
        .col-sm-6
          input.form-control(value="5000" readonly)
      .form-group
        label.control-label.col-sm-6 講師費
        .col-sm-6
          input.form-control(value="85000" readonly)