extends header
block content
  ul.aydyn-breakcrumb
    li 工作坊
    li 會員資料
  .subnav-subtitle
    include ../include/toolbar-collapsible
  form.subnav-search
      
      .search-form-group.col-sm-12
        span.search-form-label.col-sm-1 上課大於
        span.col-sm-2.pl0
          input.form-control.input-dark(type="number")
        span.search-form-label.col-sm-1 授課大於
        span.col-sm-2.pl0
          input.form-control.input-dark(type="number")
        span.search-form-label.col-sm-1 評價大於
        span.col-sm-2.pl0
          input.form-control.input-dark(type="number")        
      
      .search-form-group.col-sm-12
        span.search-form-label.col-sm-1 偏好
        span.select.select-dark
          select.form-control.select-course
            option(value="0" disabled selected) 選擇類別
        span.note (興趣偏好+上課偏好)

      .search-form-group.col-sm-12
        span.search-form-label.col-sm-1 開課區間
        include ../include/select-search-month
        span.select-date-label-to
        include ../include/select-search-month
        
      .search-form-buttons
        button.btn.btn-default(type="reset") Reset
        button.btn.btn-default(tＦype="submit")
          span.fa.fa-search
          | Searching
