extends header
block content
  ul.aydyn-breakcrumb
    li 
      a(href="../2-personnel") 人事作業
    li Fill Murry
  ul.subnav-tabs
      li.subnav-tab-active#tabProfile
        a(href="#") 基本資料
      li#tabEnf
        a(href="#") 學經歷及家庭
      li#tabAbilities 
        a(href="#") 其他能力
      li#tabAssets
       a(href="#") 固定資產
      
  
