extends header
block content
  ul.aydyn-breakcrumb
    li 薪資作業
    li Fill Murry
  ul.subnav-tabs
      li.subnav-tab-active#tabProfile
        a(href="#") 薪資資料
      li#tabAdjustment
        a(href="#") 薪資異動
      li#tabInvoice 
        a(href="#") 核銷單據
      li#tabTraining
        a(href="#") 教育訓練
      li#tabAbsence
        a(href="#") 假單
      li#tabLeave
        a(href="#") 特休補休
