extends header
block content
  ul.aydyn-breakcrumb
    li 設定檔
  ul.subnav-tabs
      li.subnav-tab-active#tabPersonnel
        a(href="#") 人事作業
      li#tabWage
        a(href="#") 薪資作業
      li#tabAttendance
        a(href="#") 考勤作業
      li#tabTraining
       a(href="#") 教育訓練
      li#tabWorkshop-0
       a(href="#") workshop系統
      li#tabWorkshop-1
       a(href="#") workshop講師
      li#tabWorkshop-2
       a(href="#") workshop學員
