script(src="https://code.jquery.com/jquery-3.1.1.min.js")
script(src="../../assets/js/jasny-bootstrap.min.js")
script(src="../../assets/js/fileinput.js")
//- script(src="../../assets/js/fileinput_locale_fr.js")
//- script(src="../../assets/js/fileinput_locale_es.js")
script(src="../../assets/js/editormd/editormd.js")
script(src="../../assets/lib/prettify.min.js")
script(src="../../assets/lib/rephael.min.js")
script(src="../../assets/js/marked.js")
script(src="../../assets/lib/underscore.min.js")
script(src='../../assets/js/star-rating.js')
script(src="../../assets/js/moment.js")
script(src="../../assets/js/bootstrap-timepicker.js")
script(src="../../assets/js/jquery.tablesorter.js")
//- script(src="../../assets/js/require.js")
script(src='../../assets/js/jquery.tw-city-selector.min.js')
script(src="../../assets/js/bootstrap/bootstrap.min.js")
script(src="../../assets/js/jquery-comments.min.js")




//- script.
//-   require.config({
//-     paths: {
//-         "marked": "../../assets/js/marked",
//-         "rating": "../../assets/js/star-rating",
//-         "timepicker": "../../assets/js/bootstrap-timepicker",
//-         "tablesorter": "../../assets/js/jquery.tablesorter.js"
//-     }
//-   });
//-   require(["marked"], function(marked) {
//-   });
