ul.select-date
  li
    span.select.select-dark
      select.select-years.form-control
  li
    span.select.select-dark
      select.select-months.form-control
  li
    span.select.select-dark
      select.select-days.form-control
