doctype 
html
  head
    meta(charset='utf-8')
    title AYDYN EIS
    meta(name='description', content='')
    //meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../../assets/css/admin-main.css')
    include ../include/javascripts
  body
    #wage.container.nav-wage-4
      nav.nav
      .wrap
        include ../include/header-invoice
        .content.on-search
          ul.toolbar
            include ../include/toolbar-export
            
          table.table.table-list.table-sort#tableInvoice
            thead.table-subheader
              tr
                th 部門
                th 姓名
                th 類別
                th 金額
                th 狀態
                th 異動時間
            tbody
              -for(var i=0;i<12;i++){
                tr(data-href="invoice-detail.html")
                  td 設計
                  td Murry
                  td 夜點費
                  td 200
                  td 待審核
                  td 2016/11/09 09:38
              -}
          include ../include/pagination
        footer
  script(src="../../assets/js/function.js")
  script.
    function init() {
      $('#tableInvoice').tablesorter();
      //- var sorter = tsorter.create('tableInvoice');
    }
        
    window.onload = init;
