doctype 
html
  head
    meta(charset='utf-8')
    title AYDYN EIS
    meta(name='description', content='')
    //meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../../assets/css/admin-main.css')
    include ../include/javascripts
  mixin slaryDetail(items)
    ul.salary-detail
      -each item in items
        li
          span #{item.name}
          span #{item.amount}
  body
    #wage.container.nav-wage-2.nav-monthly-salary-detail
      nav.nav
      .wrap
        include ../include/header-monthly-caculation-detail
        .content.on-search
          section
            form
              .section-block
                .section-title 2016/10 Murry
                table.table.table-form#table1
                  thead.table-subheader
                    tr
                      td.col-sm-5 全薪
                      td
                      td
                  tbody
                    tr
                      td 底薪
                      td 
                        input.form-control(type="number" value="32867" readonly)
                      td 
                    tr
                      td 伙食津貼
                      td 
                        input.form-control(type="number" value="2400" readonly)
                      td
                    tr
                table.table.table-form#table2
                  thead
                    tr.table-subheader
                      td.col-sm-5 綜合加項
                      td
                      td(style="position: relative")
                        ul.toolbar.toolbar-right.section-toolbar
                          li.btn-add
                  tbody
                    tr
                      td 誤餐費
                      td 
                        input.form-control(type="number" value="200" readonly)
                      td 
                    tr.form-block
                      td 
                        input.form-control(type="text" placeholder="項目")
                      td 
                        input.form-control(type="number")
                      td
                        ul.toolbar
                          include ../include/toolbar-delete-edit
                table.table.table-form#table3
                  thead
                    tr.table-subheader
                      td.col-sm-5 綜合扣項
                      td
                      td(style="position: relative")
                        ul.toolbar.toolbar-right.section-toolbar
                          li.btn-add
                  tbody
                    tr
                      td 事假
                      td 
                        input.form-control(type="number" value="1000" readonly)
                      td 
                    tr.form-block
                      td 
                        input.form-control(type="text" placeholder="項目")
                      td 
                        input.form-control(type="number")
                      td
                        ul.toolbar
                          include ../include/toolbar-delete-edit
                table.table.table-form#table4
                  tbody
                    tr
                      td.col-sm-5(style= "background: #ffe8f2" ) 實領總額
                      td(style= "background: #ffe8f2" ).salary-total
                      td(style= "background: #ffe8f2" )
                    tr
              .section-block#sectionContent
                .section-title 薪資單內文
                table.table.table-form
                  thead.table-subheader
                    tr
                      th 使用○○○符號表示員工姓名稱謂
                  tbody
                    tr
                      td
                        span.select
                          select.form-control
                            option(value="0") 選擇內文範本
                            option(value="1") 範本1
                            option(value="2") 範本2
                    tr
                      td
                        .wmd-panel
                          #wmd-button-bar
                          textarea.form-control(rows="10" name="content" style="resize:none" ).wmd-input#wmd-input 親愛的○○○小姐/先生<br>**感謝你**<br>揪咪
                        #wmd-preview.wmd-panel.wmd-preview
                    tr
                      td
                        input.form-control(type="text" name="field_content_title" placeholder="範本名稱")
                        .checkbox
                          label 
                            input(type="checkbox" name="cb_content").checkbox-square
                            | 儲存為內文範本
                    tr
              .btns-group
                button.btn.modal-btn-cancel.btn-lg(type="button" data-toggle="modal" data-target="#modalCancel") 取消
                button.btn.btn-success.btn-lg(type="button" name="field_submit") 確定
                
        footer
        .modal.fade.bs-example-modal-lg#modalSalaryConfirm(tabindex="-1" role="dialog" aria-labelledby="modalConfirm")
          .modal-dialog.modal-lg(role="document")
            .modal-content
              .modal-header
                button(type="button" data-dismiss="modal" aria-label="Close").close
                  span &times;
              .modal-body 
                h4 確定修改薪資?
                .btns-group
                  button(type="button" data-dismiss="modal" aria-label="Close").btn.btn-warning.modal-btn-1 取消
                  button(type="button" data-dismiss="modal" aria-label="Close").btn.btn-success.modal-btn-2 確定
  script(src="../../assets/js/function.js")
  script.
    var $tr = $('.table-form tbody tr:last-child');
    $tr.find('.btn-edit').trigger('click');
    $tr.hide();
    $('.btn-add').click(function(){
      var $row = $(this).parents('table').find('tbody').children('tr:last-child');
      $row.before('<tr class="form-block">' + $row.html() + '</tr>');
    });
    
    $('body').on('click','#modalDelete .modal-btn-2',function(event){
      var section_block = $form_section.parents('.form-block');
      section_block.remove();
      summerise();
    });
    
    
    //- $('#wmd-button-bar').hide();
    //- $('textarea[name="content"]').hide();
    //- $('#sectionContent tbody tr:last-child').hide();
    
    $('body').on('change','input[type="number"]',function(){
      summerise();
    })
    
    summerise();
    
    function summerise(){
      var base = 0;
      var add = 0, minus= 0;
      $('#table1 input[type="number"]').each(function(index, item){
        if(item.value!= '')base+= parseInt(item.value);
      })
      $('#table2 input[type="number"]').each(function(index, item){
        if(item.value!= '')add+= parseInt(item.value);
      })
      $('#table3 input[type="number"]').each(function(index, item){
        if(item.value!= '')minus+= parseInt(item.value);
      })
      
      $('.salary-total').html(base + add - minus);
      //- $('.salary-total').addClass('salary-total-change');
      //- setTimeout(function () {
      //-   $('.salary-total').removeClass($('salary-total-change'))
      //- }, 1000);
    }
    
    
    $('button[name="field_submit"]').click(function(event){
      if($('input[name="cb_content"]').is(':checked')){
        if($('input[name="field_content_title"]').val()==''){
          $('input[name="field_content_title"]').css('border','solid 1px red');
          event.preventDefault();
        }else{
          $('#modalSalaryConfirm').modal('show');
          //- $('form').submit();
        }
      }else{
        $('#modalSalaryConfirm').modal('show');
        //- $('form').submit();
      }
      
    });
    
    //- $('#sectionContent .btn-edit').click(function(){
    //-   $('#wmd-button-bar').show();
    //-   $('textarea[name="content"]').show();
    //-   $(this).parents('#sectionContent').find('select').attr('disabled',false);
    //-   $(this).parents('#sectionContent').find('table tr:last-child').show();
    //- });
    //- 
    //- $('#sectionContent .btn-confirm').click(function(){
    //-   $('#wmd-button-bar').hide();
    //-   $('textarea[name="content"]').hide();
    //-   $(this).parents('#sectionContent').find('select').attr('disabled',true);
    //-   $(this).parents('#sectionContent').find('table tr:last-child').hide();
    //- });
