section#absence
  ul.toolbar.toolbar-right
    li.btn-print
  form.form-group
    table.table.table-list.table-sort#tableAbsence
      thead.table-subheader
        tr
          th 請假區間
          th 類型
          th 請假時數
          th 時數折抵
          th 薪資計算
      tbody
        tr.form-block(data-href="../4-attendance/absence-detail.html")
          td 2012/02/03 09:00 ~ 2012/02/04 14:00
          td 病假
          td 4
          td 2
          td -400
