doctype 
html
  head
    meta(charset='utf-8')
    title AYDYN EIS
    meta(name='description', content='')
    //meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../../assets/css/admin-main.css')
    include ../include/javascripts
  body
    #index.container.nav-notification
      nav.nav
      .wrap
        include ../include/header-notification        
        .content.on-search
          ul.toolbar.toolbar-right
            li.btn-export
          table.table.table-hover.table-list.table-sort#tableNotification
            thead.table-subheader
              tr
                th.col-sm-1 部門
                th 姓名
                th 表單類型
                th 次類型
                th 狀態
                th.col-sm-2 異動時間
            tbody
              tr(data-href="../4-attendance/absence-detail.html?id=123")
                td 設計
                td James
                td 假單
                td 事假
                td 待審
                td 2016/11/09 09:38
              tr(data-href="../4-attendance/leave-creadit-detail.html?id=123")
                td 設計
                td James
                td 補修申請
                td --
                td 待審
                td 2016/11/09 09:38
              tr(data-href="../3-wage/invoice-detail.html?id=123")
                td 設計
                td James
                td 核銷單據
                td 
                td 待審
                td 2016/11/09 09:38
              tr(data-href="../5-training/detail.html?id=123")
                td 設計
                td James
                td 教育訓練
                td 內訓
                td 待審
                td 2016/11/09 09:38
          include ../include/pagination
        footer
script(src="../../assets/js/function.js")
script.
  function init() {
    $('#tableNotification').tablesorter();
      //- var sorter = tsorter.create('tableNotification');
  }
  window.onload = init;
